h3
{
	color: orange;
}

#P01
{
	height: 300px;
	width: 250px;
}

#P02
{
	height: 300px;
	width: 400px;
}

#P03
{
	height: 300px;
	width: 375px;
}

#P04
{
	height: 200px;
	width: 550px;
}

#P05
{
	height: 200px;
	width: 200px;
}

#P06
{
	height: 250px;
	width: 250px;
}

#P07
{
	height: 250px;
	width: 300px;
}

#P08
{
	height: 300px;
	width: 400px;
}

p
{
	font-family: verdana;
}